.hero-image {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-position-y: top; }
  .hero-image h1 {
    background-color: bisque; }

.opacity-50:hover, header a:hover, footer li:hover, footer a:hover {
  opacity: 50%; }

.encabezado1 {
  font-size: 40px;
  color: #1c9195;
  font-weight: 700; }

.encabezado2 {
  font-size: 20px;
  color: #137376;
  font-weight: 500; }

.subtitulo1 {
  font-size: 20px;
  color: #1c9195;
  font-weight: 500; }

.subtitulo2 {
  font-size: 40px;
  color: #137376;
  font-weight: 400; }

/* EMPRESAS */
.empresa {
  width: 30%;
  display: inline-block;
  align-items: center;
  align-content: center; }

.empresatitulo {
  height: 20;
  text-align: center;
  align-items: center;
  display: inline-block;
  position: absolute; }

.contenedor-empresa {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px; }
  .contenedor-empresa .logo_empresa {
    padding: 0.5rem;
    width: 25%;
    height: 20%;
    display: inline;
    size: 20; }

/*HERO IMAGE*/
.hero-image-home {
  background-image: url(../imagenes/manosvoluntarias.jpg);
  background-position-y: center;
  background-size: cover; }

/*TRANSFORMACIONES*/
.caracteristica:hover {
  transform: scale(1.2);
  background-color: rgba(177, 255, 243, 0.781); }

.btn-primary {
  background-color: #3bacaa;
  border-color: #3bacaa; }
  .btn-primary:hover {
    background-color: #0a4063;
    border-color: #0a4063; }

.btn-outline-primary {
  border-color: #3bacaa;
  color: #3bacaa; }
  .btn-outline-primary:hover {
    background-color: #0a4063;
    border-color: #0a4063; }

.highlighted {
  background-color: rgba(0, 0, 0, 0.3); }

.gradiente_pie {
  background-image: linear-gradient(to left, #48e4e2, #c4f7f9); }

footer a {
  color: #1c9195;
  text-decoration: none; }

.hero-image-aplicacion {
  background-image: url(../imagenes/celular.jpg);
  background-position-y: center; }

.hero-image-contacto {
  background-image: url(../imagenes/manosempresasdarken.jpg); }

.form-control,
.form-select {
  border-color: #72cad8; }
  .form-control:focus,
  .form-select:focus {
    box-shadow: 0 0 0 0.25rem #72cad8; }

.form-check-input:checked {
  border-color: #72cad8;
  background-color: #72cad8; }

.hero-image-nosotros {
  background-image: url(../imagenes/plantararboles.jpg); }

.hero-image-faqs {
  background-image: url(../imagenes/faqs_volunteer.jpg);
  background-position-y: top; }

.hero-image-pregunta {
  background-image: url(../imagenes/faqs.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px; }
