.gradiente_pie {
  background-image: linear-gradient(
    to left,
    $color-gradientepie-oscuro,
    $color-gradientepie-claro
  );
}

footer {
  li {
    @extend .opacity-50;
  }
  a {
    @extend .opacity-50;
    color: $color-font-claro;
    text-decoration: none;
  }
}
