.hero-image-faqs {
  background-image: url(../imagenes/faqs_volunteer.jpg);
  background-position-y: top;
}

.hero-image-pregunta {
  background-image: url(../imagenes/faqs.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}
