@mixin flex-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

.encabezado1 {
  font-size: $font-size-g;
  color: $color-font-claro;
  font-weight: map-get($font-weights, "bold");
}

.encabezado2 {
  font-size: $font-size-m;
  color: $color-font-oscuro;
  font-weight: map-get($font-weights, "medium");
}

.subtitulo1 {
  font-size: $font-size-m;
  color: $color-font-claro;
  font-weight: map-get($font-weights, "medium");
}

.subtitulo2 {
  font-size: $font-size-g;
  color: $color-font-oscuro;
  font-weight: map-get($font-weights, "regular");
}

/* EMPRESAS */

.empresa {
  width: 30%;
  display: inline-block;
  align-items: center;
  align-content: center;
}

.empresatitulo {
  height: 20;
  text-align: center;
  align-items: center;
  display: inline-block;
  position: absolute;
}

.contenedor-empresa {
  @include flex-center;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .logo_empresa {
    padding: 0.5rem;
    width: 25%;
    height: 20%;
    display: inline;
    size: 20;
  }
}

/*HERO IMAGE*/

.hero-image-home {
  background-image: url(../imagenes/manosvoluntarias.jpg);
  background-position-y: center;
  background-size: cover;
}

/*TRANSFORMACIONES*/

.caracteristica:hover {
  transform: scale(1.2);
  background-color: $color-claro;
}
