$color-font-oscuro: rgb(19, 115, 118);
$color-font-claro: rgb(28, 145, 149);
$font-size-g: 40px;
$font-size-m: 20px;
$font-size-c: 10px;
$color-font-gris: rgb(78, 84, 84);
$color-gradientepie-oscuro: rgb(72, 228, 226);
$color-gradientepie-claro: rgb(196, 247, 249);
$color-claro: rgba(177, 255, 243, 0.781);
